.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #61dafb;
    color: #555;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 10px #055d75;
    width: 150px;
    font-size: 20px;
    height: 80px;
    font-family: "Helvetica Neue", serif;
    cursor: pointer;
}

.disabled {
    background: #444;
    color: #61dafb;
}

.loading {
    background: #055d75;
    color: #94e1f6;
}
