.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:  1rem;
    font-family:  'Courier New', Courier, monospace;
    background: #0f0c29;
    background: linear-gradient(to left, #61dafb, #2cb4d9, #055d75);
    color:  #dae0e0;
    padding: 10px;
    min-height: calc(100vh - 33px);
    text-align: center;
}

.gameContainer {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -6px auto;
}

.playerHeadline {
    display: flex;
    justify-content: space-between;
    color: #61dafb;

    .nick,
    .score {
        font-size: 24px;
        padding: 0 24px;
    }
}

.player {
    border-radius: 8px;
    margin: 6px;
    width: calc(50% - 12px);
    min-width: 285px;
    background-color: #555;
}

.messages {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    padding: 12px;
    width: calc(100% - 12px);
    background-color: #555;
}

.messageText {
    font-weight: 700;
}

.fadeInOut {
    animation: fadeInOut 1s;
    animation-iteration-count: infinite;
}

.playerContainer {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerContainer .playerVideo {
    height: 280px;
    width: 280px;
    object-fit: cover;
    transform: scaleX(-1);
    display: block;
    border-radius: 100%;
    border: 5px #61dafb solid;
    box-sizing: border-box;
    box-shadow: 1px 1px 11px 3px #dae0e0;
}

.avatar {
    width: 100%;
    display: block;
}

.playerHandContainer {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
}

.playerHand {
    position: absolute;
    top: 15px;
    right: 13px;
    width: 73px;
    height: 70px;
    line-height: 100px;
    border-radius: 50px;
}

.playerHandZoom {
    animation: handZoom .5s;
    animation-iteration-count: 1;
}

@keyframes handZoom {
    0% { font-size: 42px; }
    50% { font-size: 64px; }
    100% { font-size: 42px; }
}

.timerRingCircle {
    transition: stroke-dashoffset 0.1s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    color: #61dafb;
}

.won {
    box-shadow: #61dafb 1px 1px;
    text-shadow: #61dafb 1px 1px;
    animation: infinite linear won 0.7s;
}

@keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity:1; }
}

@keyframes won {
    0% {
        box-shadow: inset #61dafb 1px 1px 3px 2px;
        text-shadow: #61dafb 1px 1px 3px;
    }

    50% {
        box-shadow: inset #61dafb 1px 1px 15px 7px;
        text-shadow: #2cb4d9 1px 1px 13px;
    }

    100% {
        box-shadow: inset #61dafb 1px 1px 20px 10px;
        text-shadow: #055d75 1px 1px 20px;
    }
}

